/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
app/src/main/resources/static/
app/src/main/resources/templates/
app/target/generated-sources/
app/target/generated-test-sources/
app/target/slackey/META-INF/
service/src/main/java/com/github/fvm/slackey/service/api/v1/commands/slash/domain/dtos/
service/src/main/java/com/github/fvm/slackey/service/api/v1/commands/slash/domain/entities/
service/src/main/java/com/github/fvm/slackey/service/api/v1/commands/slash/mapping/
service/src/main/resources/
service/src/test/
service/target/generated-sources/
